{% load static %}
<!doctype html>
<html lang="ru">
    <head>
    <meta charset="utf-8">
    <title>Терминал</title>
    <meta name="description" content="Чехов автосервис,Тех-Центр">
    <meta name="description" content="Автосервис, автотехцентр, Чехов автосервис,ТехЦентр">
    <link href="{% static 'main_app/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'main_app/js/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap" rel="stylesheet">

    </head>
    <body>

        <header class="header">

    <div class="container">
        <div class="header__inner">
            <nav class="nav">
            <a id="scrollLink1" class="nav__link active" href="#" >Главная</a>
            <a id="scrollLink" class="nav__link" href="#"  >О нас</a>
            <a id="scrollLink2" class="nav__link" href="#">Работа</a>
            <a class="nav__link" href="tel:79917472324" >Позвонить</a>
            </nav>

        </div>

        </div>
               <div class="numbers">
                   <ul>
                <li></li><span class="phone1"><a href="tel:79917472324" style="color:#F0FFF0;">+7 (991) 747-23-24 (Симферопольское ш,3А,стр.3,Чехов)</a></span></li>
                <li><span class="phone1"><a  href="tel:79855386794" style="color:#F0FFF0;">+7(985) 538-67-94 (Чехов, Солнышевская, 28)</a></span></li>
                   </ul>
               </div>

            <div class="time">
                <h1 class="time_margin">Работаем с 9:00 до 19:00 каждый день </h1>
            </div>

    </header>

    <div class="intro">
        <div class="container">

        <div class="intro__inner">
            <h2 class="intro__suptitle">АвтоТехЦентр</h2>
            <h1 class="intro__title">ТЕРМИНАЛ</h1>

            </div>
        </div>
        </div>
        <section class="section">
    <div class="container">
               <div class="section__header">
        <div class="img_ser">
        </div>
        <h3 class="section__suptitle">Небольшая история</h3>
        <h2 class="section__title">О нас</h2>
        <div class="section__text">
        <p>АвтоТехЦентр "Терминал" - это современный центр по ремонту автомобилей, который предоставляет полный спектр услуг для всех видов транспорта. Наша команда профессионалов имеет богатый опыт в обслуживании и ремонте автомобилей различных марок и моделей.</p>
        </div>
        </div>

        <div class="cart">
            <div class="cart__item">
        <div class="cart__inner">
            <div class="cart__img">
         <img src="{% static 'main_app/img/service1.jpg' %}">
            </div>
         </div>
            <div class="cart__text"></div>
        </div>
             <div class="cart__item">
        <div class="cart__inner">
            <div class="cart__img">
         <img src="{% static 'main_app/img/service2.png' %}">
            </div>
         </div>
            <div class="cart__text"></div>
        </div>
            <div class="cart__item">
        <div class="cart__inner">
            <div class="cart__img">
                <img src="{% static 'main_app/img/service3.jpg' %}">
            </div>
         </div>
            <div class="cart__text"></div>
        </div>

    </div> <!-- /.container -->
    </div>
 </section>
        <section class="section">

    <div class="container">
        <div class="section__header">
        <h3 class="section__suptitle">С чем мы можем</h3>
        <h2 class="section__title">Вам помочь</h2>
        </div>

        <div class="services">
        <div class="services__item">

            <div class="services__title">Техническое обслуживание и ремонт двигателя</div>
            <div class="services__text">Одна из важнейших задач автосервиса, которая направлена на обеспечение сохранности и надежности автомобиля. Обслуживание двигателя включает проведение регулярной замены масла и фильтров, проверку и регулировку систем впуска и зажигания, а также диагностику двигателя на предмет наличия неисправностей.
            </div>
            </div>
       <div class="services__item">

            <div class="services__title">Ремонт по ходовой части автомобиля</div>
            <div class="services__text">Комплекс мероприятий, предназначенных для восстановления ее работоспособности. Ходовая часть является одной из самых важных систем автомобиля, которая отвечает за устойчивость авто на дороге, поворачиваемость, сцепление колес с дорогой, а также за комфорт и безопасность пассажиров.
           </div>
            </div>
            <div class="services__item">

            <div class="services__title">Ремонт тормозной системы и Работы по электрике</div>
            <div class="services__text">Важная процедура для поддержания безопасности и правильной работы автомобиля. Тормозная система является одной из наиболее важных механических систем автомобиля. Важно ежегодно проводить профилактический осмотр тормозной системы.
                </div>
            </div>
        </div>

        <hr class="lin">

        <div class="services">
        <div class="services__item">

            <div class="services__title">Работы по кузовному ремонту автомобиля</div>
            <div class="services__text">Целый комплекс процедур, которые включают в себя множество мероприятий. Кузовной ремонт автомобиля необходим при появлении вмятин, царапин, сколов и других повреждений.
            </div>
            </div>
       <div class="services__item">

            <div class="services__title">Работы по кондиционированию и отоплению</div>
            <div class="services__text">Необходимые для поддержания комфортной температуры внутри автомобиля в любое время года. Кондиционирование автомобиля позволяет поддерживать оптимальный уровень влажности в салоне.
           </div>
            </div>
            <div class="services__item">

            <div class="services__title">Работы по диагностике и обслуживанию</div>
            <div class="services__text">Комплекс мероприятий, включающий проверку всех систем и узлов на исправность и правильность работы. Такие работы проводятся с целью предотвращения поломок, задержки ремонтных работ, а также для увеличения срока службы автомобиля.
                </div>
            </div>
        </div>
        </div> <!-- /.container -->
    </section>





        <section id="reviews" class="section-reviews">
  <div class="container">
       <div class="section__header">
        <h3 class="section__suptitle">Отзывы</h3>
        <h2 class="section__title">Наших клиентов</h2>
        </div>
    <div class="row">
      <div class="col-md-4">
        <div class="review-item">
          <div class="review-header">
            <a href="https://yandex.ru/web-maps/org/244165040473/reviews?reviews[publicId]=7wc90e7qqrrz9b5u0r9r1kmc54&utm_source=review"><img src="{% static 'main_app/img/client1.png' %}"></a>
            <div class="review-info">
              <h4 class="review-name">Виктор</h4>
              <p class="review-meta">Чехов</p>
            </div>
          </div>
          <div class="review-body">
            <p class="review-text">Хорошая станция техобслуживания. Персонал приветливый и грамотный. На мой взгляд работу выполняют качественно, у меня за год не было нареканий. Кроме переборки ходовой части автомобиля перетянул руль и обшивку потолка салона, без недостатков. По цене работ как и везде - не дёшево, но если важно хорошее обслуживание, то Вам сюда!
</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="review-item">
          <div class="review-header">
             <a href="https://yandex.ru/web-maps/org/244165040473/reviews?reviews[publicId]=8v1eb1bpevdnhg65cymh8a4gb8&utm_source=review"><img src="{% static 'main_app/img/client1.png' %}"></a>
            <div class="review-info">
              <h4 class="review-name">Виталий</h4>
              <p class="review-meta">Чехов</p>
            </div>
          </div>
          <div class="review-body">
            <p class="review-text">Неплохо. Везде чисто. Машин одновременно могут в работу взять сразу штуки 4. Запчасти заказать можно прямо на месте, придут примерно в течении суток...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="review-item">
          <div class="review-header">
             <a href="https://yandex.ru/web-maps/org/244165040473/reviews?reviews[publicId]=hx0p399xfj517h4df3fcr7dw50&utm_source=review"><img src="{% static 'main_app/img/client3.png' %}"></a>
            <div class="review-info">
              <h4 class="review-name">Николай</h4>
              <p class="review-meta">Чехов</p>
            </div>
          </div>
          <div class="review-body">
            <p class="review-text">Хороший сервис. Современное оборудование, много подъемников. Стенд развал-схождение, станция заправки кондиционера. Приятные цены по сравнению со столицей</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




     <section class="section  section--map">
    <div class="container">
        <div class="map">
        <h2 class="map__title">
       <div><img src="{% static 'main_app/img/map.png' %}" alt=""></div>
        <a href="https://yandex.ru/maps/10761/chehov/house/simferopolskoye_shosse_3as3/Z04YcgBiQUwHQFtvfX13cHxmbQ==/?ll=37.472890%2C55.161060&z=16" target="_blank">Открыть карту</a>
        </h2>
        </div>
    </div>
    </section>

 <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Term<span>inal</span></h3>

        </div>

        <div class="footer-center">
            <div>
                <img src="{% static 'main_app/img/metka.png' %}">
                <p><span>Подмосковье</span>
                    Чехов</p>
            </div>

            <div>
                <img src="{% static 'main_app/img/tele1.png' %}">
                <p>+7(991) 747-23-24</p>
            </div>
            <div>

                <p><img src="{% static 'main_app/img/tele2.png' %}"> +7(985) 538-67-94</p>
            </div>
            <div>
                <img src="{% static 'main_app/img/mail.png' %}">
                <p><a href="">terminalav@yandex.ru</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Режим работы:</span>
                <strong>Наша компания</strong> работает каждый день с 9:00 утра до 19:00 вечера. Мы всегда готовы помочь нашим клиентам и ответить на все их вопросы в рабочие часы. Спасибо за ваше понимание и добро пожаловать на наш сайт или в наш офис в удобное для вас время.
            </p>

        </div>
    </footer>




    </body>
</html>